body {
  text-align: right;
  direction: rtl;
  color: #707070;
}
.card_title {
  color: #fff;
  background-color: #484f59;
}

.text_center {
  text-align: center;
}

.center_custome {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.task_name {
  font-weight: 700;
  font-size: 13pt;
}

.benefit_name {
  font-weight: 700;
  font-size: 1.2rem;
}
.user_name_card {
  font-weight: 700;
  font-size: 1.2rem;
  color: #6a6967;
  padding-right: 0px;
  padding-left: 0px;
}

.task_amount {
  font-weight: 700;
  font-size: 1.2rem;
}

.card_waiting {
  background-image: url("~assets/img/waiting_card.png");
  background-size: cover;
  border: none;
  background-color: transparent;
}

.card_selected {
  background-image: url("~assets/img/selected_card.png");
  text-decoration: line-through;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.card_non_selected_cancel {
  background-image: url("~assets/img/non_selected.png");
  background-size: cover;
  border: none;
  background-color: transparent;
  text-decoration: line-through;
}

.card_non_selected {
  background-image: url("~assets/img/non_selected.png");
  background-size: cover;
  border: none;
  background-color: transparent;
}
.padding_with_h_card {
  padding-top: 5%;
}

.padding_non_h_card {
  padding-top: 30%;
}

.userCard_1 {
  background: #809a47 !important;
  background-size: cover;
  border: none;
  background-color: transparent;
}

.userCard_2 {
  background: #ce73a9 !important;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.userCard_3 {
  background: #487244 !important;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.userCard_4 {
  background: #a43f48 !important;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.userCard_5 {
  background: #ff5f01 !important;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.userCard_6 {
  background: #740846 !important;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.userCard_7 {
  background: #072879 !important;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.userCard_8 {
  background: #925661 !important;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.userCard_9 {
  background: #dc6e77 !important;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.userCard_10 {
  background: #090349 !important;
  background-size: cover;
  border: none;
  background-color: transparent;
}

.card_benefit {
  background-color: #86c6ce;
  color: #fff;
}

.waiting_title_card {
  color: #6a6967;
}

.card_custom {
  height: 160px;

  color: #fff;
}

.card_enough_money {
  color: #484f59;
  background-color: #ffd47e;
}

.card_yellow {
  color: #fff;
  background-color: #f2b02c;
  border: 1px solid #f2b02c;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #f57c54;
  background-color: #f57c54;
}

.nav_row {
  width: 100%;
  text-align: center;
  margin-right: 0;
}
.btn_press {
  background: #484f59;
  border: none;
}
.btn_non_press {
  background: #e4e4e4;
  border: none;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  background: #e4e4e4;
  border: none;
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
}

.nav_press {
  color: #86c6ce !important;
}
.nav_non_press {
  color: #fff;
}

.navbar {
  background-color: #484f59;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header {
  z-index: 20;
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.rabbit_icon {
  width: 140px;
}

.arrow_icon {
  position: absolute;
  top: -70px;
  width: 65px;
  right: 28%;
}

.hr_custome {
  border-top: 4px solid #484f59;
  margin-left: 15px;
  margin-right: 15px;
}

.card_background {
  background-color: #e4e4e4;
}

.card_body {
  text-align: center;

  padding-right: 5px;
  padding-left: 5px;
}

.pointer {
  cursor: pointer;
}

.full_width {
  width: 100%;
}

.modal-header {
  display: none;
}

.modal_no_ontent {
  background: transparent !important;
  border: none !important;
}

.modal_no_footer {
  display: none !important;
}

.modal-footer {
  display: block;
}

.btn_step {
  background: #86c6ce;
  border: 1px solid #86c6ce;
}

.btn_orange {
  background: #f57c54;
  border: 1px solid #f57c54;
}

.remove_task_btn {
  color: #f57c54;
  font-size: 2.3rem;
}

.btn-primary_custome {
  color: #fff;
  background-color: #484f59;
  border-color: #484f59;
}

.card_custom_task {
  color: #fff;
  height: 120px;
}

.overflow_title_card {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-weight: 700;
}

.w3-animate-right {
  position: relative;
  animation: animateright 0.4s;
}
.w3-card,
.w3-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

.link_sidebar > a {
  color: #707070;
}

.file-input {
  display: none;
}

.image-input {
  display: block;
  width: 200px;
  height: 200px;

  background-size: cover;
  background-position: center center;
  margin: auto;
}
